* {
    margin: 0;
    padding:0 ;
}

body{
    background: url("./images/323.png") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container {
    margin: 30px 100px;
}

#title {
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
    letter-spacing: 5px;
}

span {
    color: #ff0000;
}

#description {
    text-align: center;
    font-size: 23px;
    margin-bottom: 15px;
}

#survey-form {
    width: 500px;
    height: auto;
    background-color: rgba(175,240,245,0.5);
    border-radius: 50px;
    margin-left: -80px;
    padding-top: 10px;
    margin-top: 120px;
}

#name,
#number,
#email,
#dropdown {
    margin-top:16px;
    height: 15px;
    /* border: none; koyduk sonra none olmad覺 kaybolmad覺.kald覺rd覺k  */
}
#dropdown {
    box-sizing: content-box;
    resize: none;
}

.box{
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 500;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.text-area {
    margin-top: 10px;
}

#submit {
    background-color: #4658e7;
    font-size: larger;
    height: 45px;
    width: 160px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 16px 0px 16px 150px;
}

#submit:hover {
    background: #ea8a7d;
    color: white;
}

.textMachine p {
    color: #31936b;
}


.textMachine h4 {
    color: #013354;
}

.textMachine {
    margin-left: 520px;
    font-size: 30px;
}
